.all {
    margin: 0 auto;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
}

.center {
    margin: 0 auto;
    width: 50%; 
}

.boton {
    background-color: #CCCCFF;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    cursor: pointer;
}

#boton_volver {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin: 10px;
    text-align: center
}

.tables {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    background-color: #4169E1;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #191970;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}